<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.headsortails">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_magicanswer"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_magicanswer"
        android:supportsRtl="true"
        android:theme="@style/Theme.HeadsOrTails">
        <activity android:name=".MainActivity9" />
        <activity android:name=".MainActivity8" />
        <activity android:name=".MainActivity7" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity5" />
        <activity
            android:name=".MainActivity4"
            android:screenOrientation="landscape" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity6">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>